.archive-roll {
    margin-top: 1.5em;
    @media (min-width: 768px) {
        margin-top: 2.5em;
    }

    &__content {
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1.5em;
        }
    }

    &__item {
        margin-top: 1.5em;

        @media (min-width: 768px) {
            margin-top: 0;
            display: flex;
            align-items: center;
            gap: 2.5em;
        }

        &:first-child {
            @media (min-width: 768px) {
                display: block;
                grid-row-start: 1;
                grid-row-end: 3;

                .archive-roll__img {
                    width: 100%;
                    height: 32.5em;
                }

                .archive-roll__content {
                    margin-top: 2.125em;
                }

                .archive-roll__text {
                    width: 47em;
                }
            }

        }
    }

    &__img {
        width: 100%;
        height: 12.5em;

        @media (min-width: 768px) {
            flex: none;
            width: 26.5625em;
            height: 19.5em;
        }
    }

    &__bottom {
        margin-top: 1.25em;
        @media (min-width: 768px) {
            margin-top: 0;
        }

    }

    &__title {
        text-decoration: none;
        color: $color_info_dark;
        font-family: $second_font_family;
        font-weight: 700;
        line-height: 1.2;
        @media (min-width: 768px) {
            font-size: 1.5em;
        }
    }

    &__text {
        font-size: 0.875em;
        font-weight: 300;
        line-height: 1.2;

        @media (min-width: 768px) {
            font-size: 1em;
            width: 24em;
            margin-top: 0.625em;
        }
    }
}