.buildings {
    .section__wrap {
        padding: 3.75em 0;
        @media (min-width: 768px) {
            padding: 8.75em 0;
        }
    }

    .section__desc {
        margin-top: 0.875em;
        @media (min-width: 768px) {
            margin-top: 1.5em;

        }
    }

    &__row {
        &:last-child {
            margin-top: 3.75em;
        }

        @media (min-width: 768px) {
            display: flex;

            &:first-child {
                align-items: flex-end;
                gap: 10.5em;

                .buildings__img {
                    width: 54.375em;
                    height: 36.875em;
                    margin-top: 3.75em;
                }
            }

            &:last-child {
                align-items: center;
                justify-content: space-between;
                gap: 11.5em;
                margin-top: 8.75em;

                .buildings__img {
                    width: 55.625em;
                    height: 40em;
                }
            }
        }
    }

    &__img {
        width: 100%;
        height: 15em;
        margin-top: 1.5em;
        @media (min-width: 768px) {
            margin-top: 0;
            flex: none;
        }
    }

}
