.homeExamples {
    .section__wrap {
        background-color: $color_primary;
        padding: 3.75em 0;
        @media (min-width: 768px) {
            padding: 8.75em 0;

        }
    }

    .section__title {
        width: 10em;
        @media (min-width: 768px) {
            margin-bottom: -2.5em;
        }
    }

    &__grid {
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1.25em;
        }
    }

    &__item {
        margin-top: 1.5em;

        @media (min-width: 768px) {
            margin-top: 0;
            display: flex;
            align-items: center;
            gap: 2.5em;
        }

        &:first-child {
            @media (min-width: 768px) {
                display: block;
                grid-row-start: 1;
                grid-row-end: 4;

                padding: 11em 0 0;

                .homeExamples__img {
                    width: 100%;
                    height: 32.5em;
                }

                .homeExamples__content {
                    margin-top: 2.125em;
                }

                .homeExamples__text {
                    width: 47em;
                }
            }

        }
    }

    &__img {
        width: 100%;
        height: 12.5em;

        @media (min-width: 768px) {
            flex: none;
            width: 26.5625em;
            height: 19.5em;
        }
    }

    &__content {
        line-height: 1.8;
        margin-top: 1.25em;
        @media (min-width: 768px) {
            margin-top: 0;
        }

    }

    &__title {
        font-weight: 700;
        color: $color_info;
        @media (min-width: 768px) {
            font-size: 1.125em;
        }
    }

    &__text {
        font-size: 0.875em;
        font-weight: 300;

        @media (min-width: 768px) {
            font-size: 1em;
            width: 24em;
            margin-top: 0.625em;
        }
    }

}
