.macroFunctions {
    .section__title {
        @media (min-width: 768px) {
            width: 12em;
        }
    }

    .section__desc {
        margin-top: 0.875em;
        @media (min-width: 768px) {
            margin-top: 0;
            width: 22.5em;

        }
    }

    &__wrap {
        @media (min-width: 768px) {
            display: flex;
            gap: 0.625em;

        }
    }

    &__content {
        background-color: $color_dark;
        color: $color_white;

        padding: 3.75em 0.75em;
        @media (min-width: 768px) {
            flex-grow: 1;
            padding: 8.75em 2em 8.75em 4.375em;
        }
    }

    &__caption {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            gap: 4em;
        }
    }

    &__list {
        @media (min-width: 768px) {
            margin-top: 3.75em;

        }
    }

    &__img {
        width: 100%;
        height: 25em;
        margin-top: 0.625em;
        @media (min-width: 768px) {
            flex: none;
            width: 40.875em;
            height: auto;
            margin-top: 0;
        }
    }

}
