.macro {
    .section__wrap {
        color: $color_white;
        background-color: $color_dark;
        padding: 3.75em 0;
        @media (min-width: 768px) {
            padding: 8.75em 0;
        }
    }

    &__wrap {
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            gap: 10.625em;
        }
    }

    &__content {
        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2em;
        }
    }

    &__caption {
        margin-bottom: 0.875em;
    }

    &__img {
        width: 100%;
        height: 17.5em;
        margin-top: 1.5em;
        @media (min-width: 768px) {
            flex: none;
            width: 63.75em;
            height: 40em;
            margin-top: 0;
        }
    }

}
