.oficesExamples {
    .section__wrap {
        background-color: $color_info_bg;
        color: $color_white;
        padding: 3.75em 0;
        @media (min-width: 768px) {
            padding: 8.75em 0;
        }
    }

    .section__desc {
        margin-top: 1.125em;
        @media (min-width: 768px) {
            margin-top: 1.75em;
        }
    }

    &__wrap {
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
            gap: 10.625em;
        }
    }

    &__content {
        @media (min-width: 768px) {
            width: 32em;
            margin-top: -1.5em;
        }
    }

    &__img {
        width: 100%;
        height: 15em;
        margin-top: 1.5em;
        @media (min-width: 768px) {
            margin-top: 0;
            flex: none;
            width: 63.625em;
            height: 40em;

        }
    }

}
