.ofices {
    .section__wrap {
        padding: 3.75em 0;
        background-color: $color_dark;
        color: $color_white;
        @media (min-width: 768px) {
            padding: 7.5em 0 8.75em;
        }
    }

    &__caption {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .section__title {
            @media (min-width: 768px) {
                flex: none;
                width: 14.5em;
            }
        }

        .section__desc {
            margin-top: 0.875em;
            @media (min-width: 768px) {
                margin-top: 0;
                flex: none;
                width: 34em;
            }
        }
    }

    &__grid {
        margin-top: 1.5em;

        @media (min-width: 768px) {
            margin-top: 5em;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 1.25em;
            grid-row-gap: 5em;
        }
    }

    &__item {
        margin-top: 1.25em;

        &:first-child {
            margin-top: 0;

        }
        @media (min-width: 768px) {
            margin-top: 0;
        }
    }

    &__img {
        width: 100%;
        height: 12.5em;
        margin-bottom: 1.25em;
        @media (min-width: 768px) {
            height: 21.25em;
            margin-bottom: 1.75em;

        }
    }

    &__title {
        line-height: 1.8;
        font-weight: 700;
        font-size: 0.875em;
        @media (min-width: 768px) {
            font-size: 1.125em;
        }
    }

    &__text {
        line-height: 1.8125;
        font-size: 0.875em;
        font-weight: 300;
        margin-top: 0.25em;
        @media (min-width: 768px) {
            font-size: 1em;
            min-height: 3.625em;
            width: 32.5em;
        }
    }

}
