.securityExample {
    .section__desc {
        margin-top: 0.875em;
        @media (min-width: 768px) {
            margin-top: 7.25em;
        }
    }

    &__wrap {

        @media (min-width: 768px) {
            display: flex;
            gap: 0.625em;

        }

    }

    &__content {
        background-color: $color_dark;
        color: $color_white;

        padding: 3.75em 0.75em;
        @media (min-width: 768px) {
            padding: 8.75em 11.75em 8.75em 4.375em;

        }
    }

    &__img {
        width: 100%;
        height: 25em;
        margin-top: 0.625em;
        @media (min-width: 768px) {
            flex: none;
            width: 68.625em;
            height: auto;
            margin-top: 0;
        }
    }

}
