.smartHome {
    .section__wrap {
        background-color: $color_primary;

        padding: 5em 0 0.75em;
        @media (min-width: 768px) {
            padding: 6.25em 0 10.25em;
        }
    }

    .section__desc {
        margin-top: 0.875em;
        @media (min-width: 768px) {
            margin-top: 1.25em;
        }
    }

    &__row {
        @media (min-width: 768px) {
            display: flex;
        }

        &:first-child {
            @media (min-width: 768px) {
                gap: 20em;
            }

            .smartHome__img {
                margin-top: 1.5em;
                @media (min-width: 768px) {
                    margin-top: 0;
                    width: 54.375em;
                    height: 40em;
                }
            }
        }

        &:last-child {
            margin-top: 3.75em;
            @media (min-width: 768px) {
                margin-top: 8.75em;
                flex-direction: row-reverse;
                gap: 5.5em;
            }
        }
    }

    &__top {
        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2em;
            padding: 3.9em 0 3em;
        }
    }

    &__img {
        width: 100%;
        height: 12.5em;

        @media (min-width: 768px) {
            flex: none;
        }
    }

    &__bottom {
        .section__desc {
            @media (min-width: 768px) {
                width: 40em;
            }
        }
    }

    &__gallery {
        display: flex;
        flex-direction: column;
        gap: 0.75em;

        margin-top: 2em;
        @media (min-width: 768px) {
            margin-top: 0;
            flex: none;
            gap: 0.5em;
            width: 50.125em;
        }

        .smartHome__img {
            @media (min-width: 768px) {
                height: 29.25em;
            }
        }

    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        margin-top: 2em;
        margin-left: 0.375em;
        @media (min-width: 768px) {
            margin-left: 0.625em;
            margin-top: 2.25em;
        }

        &_item {
            margin-top: 1.625em;

            &:first-child {
                margin-top: 0;
            }

            @media (min-width: 768px) {
                margin-top: 2em;
                display: flex;
                align-items: center;
                gap: 3em;
            }
        }

        &_left {
            @media (max-width: 767px) {
                display: flex;
                align-items: center;
                gap: 0.75em;

            }
        }

        &_right {
            margin-top: 0.625em;
            @media (min-width: 768px) {
                margin-top: 0;
            }
        }

        &_number {
            position: relative;

            flex: none;
            display: flex;
            align-items: center;
            justify-content: center;

            width: 5em;
            height: 5em;

            border-radius: 100%;
            color: $color_white;

            font-size: 0.55em;
            @media (min-width: 768px) {
                font-size: 1em;
            }

            span {
                position: relative;
                z-index: 1;
                font-family: $title_font_family;
                font-size: 1.375em;
                font-weight: 500;
                letter-spacing: 0.04em;

            }

            &:after,
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 100%;

            }

            &:before {
                background-color: $color_info;
                left: -0.625em;
            }

            &:after {
                background-color: $color_black;
                left: 0;
            }

        }

        &_title {
            font-size: 0.875em;
            line-height: 1.4;
            font-weight: 700;
            color: $color_info;
            @media (min-width: 768px) {
                line-height: 1.8125;
                font-size: 1.125em;
            }
        }

        &_text {
            font-size: 0.875em;
            font-weight: 300;
            line-height: 1.8125;
            @media (min-width: 768px) {
                font-size: 1em;
                width: 33em;
            }
        }
    }

}
