@import 'mixins/mixin'; // Fonts
// Import files
@import 'variables/variables';
@import 'core/fonts';
@import "../fonts/icon/style.css";
@import 'core/reset';
@import 'core/template';
@import 'core/preloader';
@import 'core/toTop';

@import 'core/header';

@import 'sections/firstscreen';
@import 'sections/preview';
@import 'sections/work';
@import 'sections/homeExamples';
@import 'sections/buildings';
@import 'sections/benefits';

@import 'core/imagesList';
@import 'core/footer';
@import 'core/buttons';
@import 'core/form';