@font-face {
  font-family: 'icon';
  src:
    url('fonts/icon.ttf?ojeyw7') format('truetype'),
    url('fonts/icon.woff?ojeyw7') format('woff'),
    url('fonts/icon.svg?ojeyw7#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_s_top:before {
  content: "\e904";
}
.icon_s_plus:before {
  content: "\e903";
}
.icon_s_email:before {
  content: "\e900";
}
.icon_s_person:before {
  content: "\e901";
}
.icon_s_phone:before {
  content: "\e902";
}
