$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon_s_top: unquote('"\\e904"');
$icon_s_plus: unquote('"\\e903"');
$icon_s_email: unquote('"\\e900"');
$icon_s_person: unquote('"\\e901"');
$icon_s_phone: unquote('"\\e902"');

