.footer {
	margin-bottom: 0.25em;
	@media (min-width: 768px) {
		margin-bottom: 0.625em;
	}

	.section__wrap {
		background-color: rgba($color_primary, 1);
	}

	.soc__layuot {
		@media (min-width: 768px) {
		  align-items: flex-start;
		}
	}

	.soc__label {
		display: none;
	}

	&__top {
		padding: 1.5em 0;
		@media (min-width: 768px) {
		  padding: 2.5em 0;
		}
	}

	&__bottom {
		border-top: 0.125em solid $color_info;
		padding: 0.5em 0;
		@media (min-width: 768px) {
		  padding: 1em 0;
		}

		a {
			text-decoration: none;
			color: $color_white;
		}
	}

	&__content {
		@media (min-width: 768px) {
		  display: flex;
		  justify-content: space-between;
		  align-items: center;
		  gap: 2em;
		}
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	&__copy {
		color: $color_white;

	}

	&__seo {
		display: inline-flex;

		> * {
			&:before {
				display: inline-block;
				content: '|';
				margin: 0 0.25em;
			}

			&:first-child {
				&:before {
				  content: none;
				  
				}
			}
		}
	}

	&__address {
		color: $main_color;
		display: flex;
		align-items: center;
		gap: 0.5em;
		i {
			font-size: 1.5em;
		}
		p {
			margin: 0;
			display: flex;
			flex-direction: column;

			span {
				&:first-child {
					font-size: 0.625em;
					margin-bottom: 0.25em;
				}
			}
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		font-size: 0.75em;
		@media (min-width: 768px) {
			font-size: 1em;
		  
		}
	}

	&__jobTime {
		font-size: 0.625em;
		color: $main_color;
		margin-bottom: 0.25em;
	}

	&__phone {
		text-decoration: none;
		color: $main_color;
	}

	&__email {
		text-decoration: none;
		color: $main_color;
		
	}

	&__logo {
		flex: none;
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		
		.custom-logo-link {
			flex: none;
			display: block;
			width: 5em;
			padding: 0.25em;
			@media (max-width: 767px) {
			  min-height: 3.5em;
			  display: flex;
			  align-items: center;
			  justify-content: center;
			}
	
			@media (min-width: 768px) {
			  padding: 0;
			}
			
			img {
				display: block;
				width: 100%;
				height: auto;
				object-fit: cover;
			}
		}

		&_link {
			text-decoration: none;
			color: $main_color;
		}

		&_desc {
			display: none;
			@media (min-width: 768px) {
				color: $main_color;
				display: block;
				max-width: 15em;
				text-align: center;
			}
		}

	}







}
