.footer {
	margin-bottom: 0.25em;
	@media (min-width: 768px) {
		margin-bottom: 0.625em;
	}

	.section__wrap {
		background-color: $color_primary;
		padding: 2.5em 0 4.375em;
		@media (min-width: 768px) {
			padding: 7.5em 0;
		}
	}

	.container_center {
		@media (max-width: 767px) {
			padding: 0 1.25em;
		}
	}

	&__content {
		@media (min-width: 768px) {
			display: flex;
			align-items: center;

		}
	}

	&__form {
		position: relative;
		margin-top: 2em;
		@media (min-width: 768px) {
			width: 35.375em;
			margin-top: 0;
			margin-left: 17.8em;
		}
	}

	&__logo {
		flex: none;
		display: block;
		width: 9.75em;
		margin: 0 auto 1.25em;
		@media (min-width: 768px) {
			margin: 0;
			width: 17.375em;
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
		@media (min-width: 768px) {
			text-align: left;
			margin-left: 10.6em;
		}
	}

	&__item {
		margin-top: 1.25em;

		&:first-child {
			margin-top: 0;
		}
		@media (min-width: 768px) {
			margin-top: 1.125em;
		}

		a,
		span {
			display: inline-block;
			line-height: 1.8125;
			font-weight: 300;
			color: $main_color;

		}

		a {
			text-decoration: none;

			@media (min-width: 768px) {
				&:hover {
					color: $color_info;
				}
			}
		}
	}

	&__label {
		line-height: 1.8125;
		font-weight: 700;
		color: $color_info;
		text-align: center;
		@media (min-width: 768px) {
			text-align: left;
			font-size: 1.125em;
		}
	}

}
