.form {
	margin-top: 0.625em;
	@media (min-width: 768px) {
		margin-top: 1em;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0.625em;
	}

	&__row {
		position: relative;
		margin-bottom: 0.375em;

		&:last-child {
			margin-bottom: 0;
		}

		.btn,
		input:not([type]),
		input[type=date],
		input[type=email],
		input[type=number],
		input[type=password],
		input[type=search],
		input[type=tel],
		input[type=text],
		input[type=url],
		textarea {
			width: 100%;
		}

		textarea {
			min-height: 6em;
			resize: vertical;
		}

		i {
			display: inline-block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: #B8C0D6;

			font-size: 1.25em;
			right: 1em;
			transition: 0.8s;
		}

		&:hover {
			i {
				color: $color_info;
			}
		}

		p {
			margin: 0;
		}

	}

}
// Input text and textarea ================================================
input:not([type]),
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
	padding: 1em 2.5em 1em 1.25em;
	border: 0.0625em solid #CCD3E6;
	border-radius: 0.625em;

	line-height: 1.375;

	font-family: $main_font_family;
	font-size: 1em;
	font-weight: 300;

	background-color: $color_white;
	color: $main_color;

	outline: none;
	transition: 0.8s;

	&:hover {
		border: 0.0625em solid $color_info;
	}

	&:focus {
		border: 0.0625em solid $color_info;
	}

	&.wpcf7-not-valid {
		border: 0.0625em solid $color_danger;

		@include placeholder {
			color: rgba($color_danger, 0.5);
		}
	}

	// Placeholder for input +++++++++++++++
	@include placeholder {
		color: rgba($main_color, 0.5);
	}
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	appearance: none;
}

/* Для Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto;
	appearance: none;
	margin: 0;
}
/* Для Firefox */
input[type=number] {
	appearance: textfield;
}


.wpcf7 form .wpcf7-response-output {
	position: absolute;
	bottom: -3.5em;
	left: 0;
	margin: 0 0 0 0;
	border-radius: 0;
	padding: 0;
	border: 0;
	font-size: 0.75em;
	width: 16em;
	// color: red;
	
	@media (min-width: 768px) {
		line-height: 1.8125;
		bottom: -2.5em;
		font-size: 1.125em;
		width: auto;
	}
}

.wpcf7 form {
	&.invalid {
		.wpcf7-response-output {
			color: $color_info;
			font-weight: 700;
		}
	}

	&.sent {
		.wpcf7-response-output {
			color: $color_info;;
			font-weight: 700;
		}
	}
} 

.wpcf7-not-valid-tip {
	display: none;
	// position: absolute;
	// left: 0;
	// bottom: -2.2em;
	// font-size: 0.75em;
	// @media (min-width: 768px) {
	//   font-size: 1em;
	// }
}

.wpcf7-spinner {
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	background-color: $color_dark;
	opacity: 1;
	font-size: 1.25em;
	bottom: -2em;
	right: -1em;
	@media (min-width: 768px) {
		font-size: 1.5em;
		top: 50%;
		transform: translateY(-50%);
		right: -3em;
	  
	}
	&:before {
		content: '';
		top: 0.25em;
		left: 0.25em;
		width: 0.375em;
		height: 0.375em;
		transform-origin: 0.5em 0.5em;
		background-color: $color_white;
	  
	}
}
