/* Header
 ----------------------------------------------------------------------------- */
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	padding: 0.3125em 0;
	@media (min-width: 768px) {
		padding: 0.625em 0;

	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (min-width: 768px) {
			justify-content: flex-start;
			margin-top: 1em;
			max-width: 50em;
		}
	}

	&__logo {
		display: block;
		width: 6.8125em;
		@media (min-width: 768px) {
			width: 5em;
			flex: none;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	&__toggle {

		@media (max-width: 767px) {
			position: fixed;

			top: 0.75em;
			right: 0.875em;
			z-index: 10;

			display: flex;
			align-items: center;
			justify-content: center;

			width: 2.375em;
			height: 2.375em;
			border-radius: 0.25em;

			background-color: $color_info;
			color: $color_white;
			cursor: pointer;

			span {
				position: relative;

				display: block;
				width: 0.9375em;
				height: 0.75em;
				border: 0.0625em solid;
				border-left: 0;
				border-right: 0;

				&:after,
				&:before {
					content: '';
					display: inline-block;
					border-top: 0.0625em solid;

					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					width: 100%;
					transition: transform 0.5s;
				}

			}

			&.active {
				span {
					border: 0;

					&:before {
						transform: rotate(45deg);
					}

					&:after {
						transform: rotate(-45deg);
					}

				}
			}

		}

	}

	&__nav {
		margin-left: 2.875em;
	}
}

@media (max-width: 767px) {
	.navbar {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translate(-50%, -100%);
		z-index: 10;

		padding: 6.7em 1em 6.625em;
		width: 19.375em;
		border-bottom: 0.625em solid #3B5598;
		border-radius: 0.25em;
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		background-color: $color_black;
		transition: 1s;

		&.active {
			transform: translate(-50%, 0);
		}
	}
}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;

	@media (min-width: 768px) {
		display: flex;
		align-items: center;
		gap: 1.25em;
		flex-wrap: wrap;
	}

	&-item {
		text-align: center;
		margin-top: 0.875em;

		&:first-child {
			margin-top: 0;
		}
		@media (min-width: 768px) {
			text-align: left;
			margin-top: 0;
		}

		a {
			position: relative;

			font-family: $main_font_family;
			font-weight: 500;
			font-size: 1em;

			color: $color_white;

			text-decoration: none;
			text-transform: uppercase;
			line-height: 1.8;

			&:after {
				content: '';
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: -0.125em;

				display: inline-block;
				width: 0;
				border-bottom: 1px solid;
				border-color: inherit;

				@media (min-width: 768px) {
					transition: width 0.5s;
				}
			}

			@media (min-width: 768px) {

				font-size: 0.875em;

				&:hover {
					color: #7892D5;

					&:after {
						width: 100%;
					}
				}
			}

		}
	}

	.current-menu-item {
		a {
			color: #7892D5;

			&:after {

				width: 100%;
			}
		}
	}
}

// // stiky menu
// .stiky {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	z-index: 1;
// }

.nav-open {
	overflow: hidden;
}
