/* Header
 ----------------------------------------------------------------------------- */
.header {
	padding: 0.3125em 0;
	@media (min-width: 768px) {
		padding: 0.625em 0;
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		// padding: 0.5em 1em;
		
		background-color: $color_primary;
		@media (min-width: 768px) {
			justify-content: flex-start;
			gap: 2.875em;
			padding: 1em 5.375em;
			border-radius: 1.25em;
			max-width: $wrap_width;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__logo {
		flex: none;
		
		.custom-logo-link {
			display: block;
			width: 5em;
			padding: 0.25em;
			@media (max-width: 767px) {
			  min-height: 3.5em;
			  display: flex;
			  align-items: center;
			  justify-content: center;
			}
	
			@media (min-width: 768px) {
			  padding: 0;
			}
			
			img {
				display: block;
				width: 100%;
				height: auto;
				object-fit: cover;
			}
		}

		&_link {
			text-decoration: none;
			color: $main_color;
		}
	

	}

	&__toggle {

		@media (max-width: 767px) {
			position: fixed;

			top: 0.75em;
			right: 0.875em;
			z-index: 10;

			display: flex;
			align-items: center;
			justify-content: center;

			width: 2.375em;
			height: 2.375em;
			border-radius: 0.25em;

			background-color: $color_info_dark;
			color: $color_white;
			cursor: pointer;

			span {
				position: relative;

				display: block;
				width: 0.9375em;
				height: 0.75em;
				border: 0.0625em solid;
				border-left: 0;
				border-right: 0;

				&:after,
				&:before {
					content: '';
					display: inline-block;
					border-top: 0.0625em solid;

					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					width: 100%;
					transition: transform 0.5s;
				}

			}

			&.active {
				span {
					border: 0;

					&:before {
						transform: rotate(45deg);
					}

					&:after {
						transform: rotate(-45deg);
					}

				}
			}

		}

	}

}

@media (max-width: 767px) {
	.navbar {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translate(-50%, -100%);
		z-index: 10;

		padding: 2.5em 1em;
		width: 19.375em;
		max-height: 70vh;
		border-bottom: 0.625em solid $color_info_dark;
		border-radius: 0.25em;
		border-top-left-radius: 0;
		border-top-right-radius: 0;

		background-color: $color_black;
		transition: 1s;
		overflow-y: auto;

		&.active {
			transform: translate(-50%, 0);
		}
	}
}

.nav-open {
	overflow: hidden;
}

.header {
	.menu {
		margin: 0;
		padding: 0;
		list-style: none;
	
		@media (min-width: 768px) {
			display: flex;
			align-items: center;
			gap: 1.25em;
			flex-wrap: wrap;
			position: relative;
		}
	
		&-item {
			margin-top: 0.875em;
			position: relative;
	
			&:first-child {
				margin-top: 0;
			}
			
			@media (min-width: 768px) {
				margin-top: 0;
			}
	
			// Пункты с подменю
			&.menu-item-has-children {
				> a {
					position: relative;
					
					@media (min-width: 768px) {
						padding-right: 1.5em;
						&:after {
							content: '▼';
							position: absolute;
							right: 0.5em;
							top: 50%;
							transform: translateY(-50%);
							font-size: 0.7em;
							transition: transform 0.3s ease;
						}
					}
				}
	
				@media (min-width: 768px) {
					&:hover > a:after {
						transform: translateY(-50%) rotate(180deg);
					}
				}
			}
	
			a {
				position: relative;
				font-family: $main_font_family;
				font-weight: 500;
				font-size: 1em;
				color: $color_white;
				text-decoration: none;
				text-transform: uppercase;
				line-height: 1.4;
				display: block;
				transition: color 0.3s ease;
	
				@media (min-width: 768px) {
					font-size: 0.875em;
	
					&:hover {
						color: $color_info_dark;
					}
				}
			}
		}
	
		// Подменю (второй уровень)
		.sub-menu {
			list-style: none;
			margin: 0;
			padding: 0;
	
			@media (max-width: 767px) {
				display: none;
			}
	
			@media (min-width: 768px) {
				position: absolute;
				z-index: 10;
				top: calc(100% + 1.5em);
				left: 0;
				background: $color_primary;
				border-radius: 0.25em;
				box-shadow: 0 0.125em 0.625em rgba(0, 0, 0, 0.1);
				min-width: 12.5em;
				padding: 0.5em 0;
				opacity: 0;
				visibility: hidden;
				transform: translateY(0.625em);
				transition: all 0.3s ease;
				display: block !important;
	
				&:before {
				  content: '';
				  display: block;
				  position: absolute;
				  bottom: 100%;
				  left: 0;
				  width: 100%;
				  height: 1.5em;
				}
			}
	
			.menu-item {
				margin: 0;
	
				a {
					font-size: 0.875em;
					padding: 0.5em 1em;
					text-transform: none;
					line-height: 1.4;
					transition: all 0.3s ease;
					white-space: nowrap;
	
					&:hover {
						@media (min-width: 768px) {
							color: $color_info_dark;
						}
					}
	
					@media (max-width: 767px) {
						color: $color_white;
						padding: 0.5em 1em;
						font-size: 1em;
						text-transform: none;
					}
				}
	
				// Пункты с подменю во втором уровне
				&.menu-item-has-children {
					position: relative;
	
					> a {
						position: relative;
						@media (max-width: 767px) {
							margin-right: 2.5em;
						}
	
						@media (min-width: 768px) {
							&:after {
								content: '▶';
								position: absolute;
								right: 1em;
								top: 50%;
								transform: translateY(-50%);
								font-size: 0.6em;
							}
						}
					}
	
					// Подменю третьего уровня
					.sub-menu {
						@media (min-width: 768px) {
							top: -0.5em;
							left: 100%;
							transform: translateX(0.625em);
						}
	
						@media (max-width: 767px) {
							.menu-item a {
								padding-left: 3em;
								font-size: 0.85em;
							}
						}
					}
	
					.menu-toggle {
						@media (max-width: 767px) {
							top: 0.4em;
						}
					}
				}
			}
		}
	
		// Показ подменю на десктопе
		@media (min-width: 768px) {
			.menu-item-has-children:hover > .sub-menu {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
	
			.sub-menu .menu-item-has-children:hover > .sub-menu {
				opacity: 1;
				visibility: visible;
				transform: translateX(0);
			}
		}
	
		// Активный пункт меню
		.current-menu-item {
			> a {
				color: $color_info_dark;
			}
	
			// Активный пункт в подменю
			.sub-menu & a {
				@media (min-width: 768px) {
					color: $color_info_dark;
					// background: rgba(120, 146, 213, 0.1);
				}
			}
		}
	}
	
	// Мобильные стили
	@media (max-width: 767px) {
		.menu-item-has-children {
			position: relative;
	
			> a {
				margin-right: 3em;
			}
		}
	
		.menu-toggle {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 0.125em;
			border: 0;
	
			position: absolute;
			right: 0;
			top: 0;
			z-index: 5;
	
			background: $color_info_dark;
			color: $color_white;
			font-size: 1.2em;
			width: 1.125em;
			height: 1.125em;
			transition: 0.3s ease;
			line-height: 1;
	
		}
	
		// Показываем подменю когда активно
		.sub-menu.menu-open {
			display: block !important;
		}
	}

}


