// Modal / bootstrap ------------------------------------------

.modal {
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    &-open {
        overflow: hidden;
    }

    &-close {
        position: absolute;
        width: 1em;
        height: 1em;
        right: 0.625em;
        top: 0.625em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba($main_color, 0.3);

        @media (min-width: 768px) {
            width: 1.25em;
            height: 1.25em;
            right: 0.8125em;
            top: 0.8125em;
        }

        &:after,
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            border-top: 0.125em solid;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }

        &:hover {
            color: rgba($main_color, 0.5);
        }
    }

    &.fade .modal-dialog {
        transform: translate(0, -25%);
        transition: transform 0.3s ease-out;
    }

    &.in {
        display: flex!important;
        align-items: center;
        justify-content: center;

        .modal-dialog {
            transform: translate(0, 0);
            position: relative;
        }
    }

    &-dialog {
        position: relative;
        width: auto;
        margin: auto;
        max-width: 17.5em;
        @media (min-width: 768px) {
            max-width: 30em;
        }
    }

    &-content {
        position: relative;
        background-color: $color_info;
        color: $main_color;
        border: none;
        border-radius: 0.625em;
        background-clip: padding-box;
        outline: 0;
        padding: 1.5em 0.75em ;
        @media (min-width: 768px) {
            padding: 1.75em 1.25em ;
            border-radius: 1.25em

        }
    }

    &-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: $color_primary;

        &.fade {
            opacity: 0;
            filter: alpha(opacity=0);
        }

        &.in {
            opacity: 0.5;
            filter: alpha(opacity=50);
        }
    }

}

.wpcf7-info__message {
        margin: 0;
		font-size: 0.875em;
		font-weight: 400;
		line-height: 1.2;

		@media (min-width: 768px) {
			font-size: 1.5em;
		}
}
