.paymentMethods {
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;


    }

    span {
        font-size: 1.5em;
        color: $color_white;
    }
}