.paymentMethods {
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        flex-wrap: wrap;

        
        @media (max-width: 767px) {
            max-width: 13em;
          
        }

        @media (min-width: 768px) {
          
        }


    }

    span {
        font-size: 1.5em;
        color: $color_white;
    }
}