.loader {
    &__wrap {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: $main_color;
        z-index: 20;

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 1;
        transition: 0.3s;

        &.hide {
            opacity: 0;
        }
        @media (min-width: 768px) {
            font-size: 1.25em;
        }
    }

    width: 3em;
    height: 3em;
    border: 0.3125em solid $color_info_dark;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 


