.privacyBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25em;
  font-size: 0.6875em; 
//   background: var(--bg-main);
  background: $color_primary;
//   color: var(--color-second);
  color: $main_color;
//   border: 0.0625em solid var(--bg-main); 
  border: 0.0625em solid $color_info; 
  box-sizing: border-box;
  box-shadow: 0 0.875em 1.5em rgba(0, 0, 0, 0.15);
  border-radius: 0.5em; 
  position: fixed;
  width: 100%;
  max-width: 26em; 
  padding: 1em; 
  bottom: 0;
  margin: 0.8125em 1.25em;
  left: calc(50% - 1.25em); 
  transform: translateX(-50%);
  opacity: 0;
  text-align: center;

  &:not(.hidden) {
    animation: privacyBox 1s 3s forwards;
  }

  &.hidden {
    display: none;
  }

  p {
    margin: 0;
  }

  a {
    color: var(--links-color);
    text-decoration: none;

    &:hover {
      // color: var(--links-color-hover);
    }
  }

  @media (min-width: 768px) {
    font-size: 1em;
    padding: 0.625em 1.25em; 
    max-width: 43.75em; 
  }
}

@keyframes privacyBox {
  0% {
    opacity: 0;
    bottom: -3.125em;
  }

  to {
    opacity: 1;
    bottom: 0;
  }
}