// Main wrappers =====================================

body {
	font-family: $main_font_family;
	// color: $main_color;
	line-height: $main_line_height;
	font-size: calc(.05 * 100vw + 0px);
	background-color: $color_white;

	@media (min-width: 768px) {
		font-size: calc(.0083333334 * 100vw + 0px);
	}

}

.wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100%;

	font-size: $main_font_size;
	font-size: 0.915em;
}

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
	flex-grow: 1;

	.error404 & {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.container_center {
	max-width: $container_width;
	padding: 0 0.75em;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding: 0.3125em 0;

	&:first-child {
		@media (min-width: 768px) {
			padding-top: 0.625em;
		}
	}

	&:last-child {
		padding-bottom: 0.625em;
	}

	&:nth-child(2n + 1) {
		.section__wrap {
			background-color: $color_dark;
			// color: $color_white;
		}

		.imagesList__img_inner {
			border-color: $color_info;
		}

		.work__number {
			color: $color_primary;
		}
		
		.benefits__list_icon {
			color: $color_dark;

			&:before {
			  background-color: $color_info;
			}
		}
	}
	
	&:nth-child(2n) {
		.section__wrap {
			background-color: $color_info;
			// color: $color_white;

			b {
				color: $color_primary;
			}
		}
		
		.section__title {
			strong {
				color: $color_primary;

			}
		}
		
		.bt,
		.bb {
			&:before {
			  content: '';
			  background-color: $color_primary;
			}
		}
		
		.section__label {
			background-color: $color_primary;
		}

		.imagesList__img_inner {
			border-color: $color_primary;
		}

		.work__number {
			color: $color_info;
		}
		
		.benefits__list_icon {
			color: $color_info;
			&:before {
			  background-color: $color_black;
			}
		}
	}

	&__wrap {
		overflow: hidden;
		border-radius: 0.625em;
		@media (min-width: 768px) {
			border-radius: 1.25em;
			max-width: $wrap_width;
			margin-left: auto;
			margin-right: auto;
		}

	}

	&__title {
		margin: 0;
		font-family: $title_font_family;
		font-size: 1.625em;
		font-weight: 400;

		letter-spacing: -0.02em;
		text-transform: uppercase;
		line-height: 1.1155;

		@media (min-width: 768px) {
			font-size: 3.25em;
			line-height: 1.1924;
		}
		
		strong {
			font-weight: 400;
			color: $color_info;
		}


		> * {
			&:first-child {
				margin-top: 0;
			}
	
			&:last-child {
				margin-bottom: 0;
			}

		}

	}

	&__desc {
		p {
			font-size: 0.875em;
			font-weight: 300;
			line-height: 1.778;
			margin: 0.6em 0;

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}

			@media (min-width: 768px) {
				font-size: 1.125em;
			}

			b {
				font-weight: 700;
			}
		}
	}

	&__label {
		display: inline-block;
		padding: 1em 1.3525em;
		border-radius: 1em;
		border-bottom-left-radius: 0;

		font-family: $second_font_family;
		font-size: 0.62em;
		font-weight: 600;

		letter-spacing: 0.1em;
		text-transform: uppercase;
		line-height: 1.1;

		color: $color_white;
		background-color: $color_info;

		margin-bottom: 2.0161em;

		@media (min-width: 768px) {
			border-radius: 0.71429em;
			border-bottom-left-radius: 0;
			font-size: 0.875em;
			margin-bottom: 2.85715em;
		}
	}

}

.desktop {
	@media (max-width: 767px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 768px) {
		display: none !important;
	}
}

.br {
	border-radius: 0.625em;
	overflow: hidden;
	@media (min-width: 768px) {
		border-radius: 1.25em;
	}
}

.bt {
	position: relative;

	&:before {
		content: '';
		display: block;

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 0.625em;

		background-color: $color_info;

	}

}

.bb {
	position: relative;

	&:before {
		content: '';
		display: block;

		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 0.625em;

		background-color: $color_info;

	}

}

.d-none {
	display: none;
}

.d-block {
	display: block!important;
}

.bg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.img {
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}
}

.snakeline {
	a {
		position: relative;
		text-decoration: none;

		&:after {
			content: '';
			position: absolute;
			display: inline-block;
			width: 100%;
			left: 0;
			bottom: -0.125em;
			border-bottom: 0.125em solid;
			border-color: inherit;

			@media (min-width: 768px) {
				transition: width 0.3s;
			}
		}

		@media (min-width: 768px) {
			&:hover {
				&:after {
					width: 65%;
				}
			}
		}

	}
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.counter-wrap {
	counter-reset: line var(--line-num, 0);
}

.counter-item {
	counter-increment: line;

	.counter-el {
		&:before {
			content: counter(line, decimal-leading-zero);
		}

		.no_zero & {
			&:before {
				content: counter(line);
			}

		}
	}
}

.user_select_none {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
};


.notfound {
	.section__wrap {
		padding: 1.5em;
	}
}