.toTop {
    position: fixed;
    z-index: 10;

    bottom: 1.25em;
    right: 0.875em;

    width: 2.375em;
    height: 2.375em;
    border-radius: 0.25em;

    background-color: $color_info;
    cursor: pointer;
    opacity: 0;
    overflow: hidden;

    &.show {
        opacity: 1;
        overflow: visible;
    }

    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        color: $color_white;
        text-decoration: none;

        @media (min-width: 768px) {}
    }

    font-size: 1em;
    transition: 0.8s;
    @media (min-width: 768px) {
        font-size: 1.5em;

        &:hover {
            background-color: $color_dark;
        }
    }

}
