@font-face {
  font-family: 'sws';
  src:
    url('fonts/sws.ttf?t4kpkq') format('truetype'),
    url('fonts/sws.woff?t4kpkq') format('woff'),
    url('fonts/sws.svg?t4kpkq#sws') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="sws_icon_"], [class*=" sws_icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sws' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sws_icon_ethereum:before {
  content: "\e900";
}
.sws_icon_paypal:before {
  content: "\e901";
}
.sws_icon_mc:before {
  content: "\e902";
}
.sws_icon_visa:before {
  content: "\e903";
}
.sws_icon_sbp:before {
  content: "\e904";
}
.sws_icon_mir:before {
  content: "\e905";
}
.sws_icon_yoomoney:before {
  content: "\e906";
}
.sws_icon_bitcoin:before {
  content: "\e907";
}
.sws_icon_max:before {
  content: "\e908";
}
.sws_icon_rutube:before {
  content: "\e909";
}
.sws_icon_dzen:before {
  content: "\e90a";
}
.sws_icon_tg:before {
  content: "\e90b";
}
.sws_icon_ok:before {
  content: "\e90c";
}
.sws_icon_vk:before {
  content: "\e90d";
}
.sws_icon_caret_top:before {
  content: "\e913";
}
.sws_icon_caret_right:before {
  content: "\e914";
}
.sws_icon_caret_bottom:before {
  content: "\e915";
}
.sws_icon_caret_left:before {
  content: "\e916";
}
.sws_icon_file:before {
  content: "\e91a";
}
.sws_icon_mail:before {
  content: "\e91b";
}
.sws_icon_phone:before {
  content: "\e919";
}
.sws_icon_clock:before {
  content: "\e917";
}
.sws_icon_pin:before {
  content: "\e918";
}
.sws_icon_fb:before {
  content: "\e90e";
}
.sws_icon_inst:before {
  content: "\e90f";
}
.sws_icon_yt:before {
  content: "\e910";
}
.sws_icon_tw:before {
  content: "\e911";
}
.sws_icon_wa:before {
  content: "\e912";
}
