@use "variables" as *;

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?t4kpkq') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?t4kpkq') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?t4kpkq##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="sws_icon_"], [class*=" sws_icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sws_icon_ethereum {
  &:before {
    content: $sws_icon_ethereum; 
  }
}
.sws_icon_paypal {
  &:before {
    content: $sws_icon_paypal; 
  }
}
.sws_icon_mc {
  &:before {
    content: $sws_icon_mc; 
  }
}
.sws_icon_visa {
  &:before {
    content: $sws_icon_visa; 
  }
}
.sws_icon_sbp {
  &:before {
    content: $sws_icon_sbp; 
  }
}
.sws_icon_mir {
  &:before {
    content: $sws_icon_mir; 
  }
}
.sws_icon_yoomoney {
  &:before {
    content: $sws_icon_yoomoney; 
  }
}
.sws_icon_bitcoin {
  &:before {
    content: $sws_icon_bitcoin; 
  }
}
.sws_icon_max {
  &:before {
    content: $sws_icon_max; 
  }
}
.sws_icon_rutube {
  &:before {
    content: $sws_icon_rutube; 
  }
}
.sws_icon_dzen {
  &:before {
    content: $sws_icon_dzen; 
  }
}
.sws_icon_tg {
  &:before {
    content: $sws_icon_tg; 
  }
}
.sws_icon_ok {
  &:before {
    content: $sws_icon_ok; 
  }
}
.sws_icon_vk {
  &:before {
    content: $sws_icon_vk; 
  }
}
.sws_icon_caret_top {
  &:before {
    content: $sws_icon_caret_top; 
  }
}
.sws_icon_caret_right {
  &:before {
    content: $sws_icon_caret_right; 
  }
}
.sws_icon_caret_bottom {
  &:before {
    content: $sws_icon_caret_bottom; 
  }
}
.sws_icon_caret_left {
  &:before {
    content: $sws_icon_caret_left; 
  }
}
.sws_icon_file {
  &:before {
    content: $sws_icon_file; 
  }
}
.sws_icon_mail {
  &:before {
    content: $sws_icon_mail; 
  }
}
.sws_icon_phone {
  &:before {
    content: $sws_icon_phone; 
  }
}
.sws_icon_clock {
  &:before {
    content: $sws_icon_clock; 
  }
}
.sws_icon_pin {
  &:before {
    content: $sws_icon_pin; 
  }
}
.sws_icon_fb {
  &:before {
    content: $sws_icon_fb; 
  }
}
.sws_icon_inst {
  &:before {
    content: $sws_icon_inst; 
  }
}
.sws_icon_yt {
  &:before {
    content: $sws_icon_yt; 
  }
}
.sws_icon_tw {
  &:before {
    content: $sws_icon_tw; 
  }
}
.sws_icon_wa {
  &:before {
    content: $sws_icon_wa; 
  }
}

