$icomoon-font-family: "sws" !default;
$icomoon-font-path: "fonts" !default;

$sws_icon_ethereum: "\e900";
$sws_icon_paypal: "\e901";
$sws_icon_mc: "\e902";
$sws_icon_visa: "\e903";
$sws_icon_sbp: "\e904";
$sws_icon_mir: "\e905";
$sws_icon_yoomoney: "\e906";
$sws_icon_bitcoin: "\e907";
$sws_icon_max: "\e908";
$sws_icon_rutube: "\e909";
$sws_icon_dzen: "\e90a";
$sws_icon_tg: "\e90b";
$sws_icon_ok: "\e90c";
$sws_icon_vk: "\e90d";
$sws_icon_caret_top: "\e913";
$sws_icon_caret_right: "\e914";
$sws_icon_caret_bottom: "\e915";
$sws_icon_caret_left: "\e916";
$sws_icon_file: "\e91a";
$sws_icon_mail: "\e91b";
$sws_icon_phone: "\e919";
$sws_icon_clock: "\e917";
$sws_icon_pin: "\e918";
$sws_icon_fb: "\e90e";
$sws_icon_inst: "\e90f";
$sws_icon_yt: "\e910";
$sws_icon_tw: "\e911";
$sws_icon_wa: "\e912";

