.smart-cf-upload-image img,
.smart-cf-upload-image svg {
	display: block;
	width: 100%;
	height: auto;
}

.smart-cf-upload-image,
.smart-cf-upload-file,
[data-size] {
	display: block;
}

[data-size="full"] {
	width: 100%;
}

[data-size="medium"] {
	width: 300px;
}

[data-size="thumbnail"],
[data-size="thumbs"] {
	width: 100px;
}